{{#thumbs}}
<li>
    <a href="#{{id}}" target="_blank" class="fancybox-effects-a">

        <img style="width:240px;height:191px" src="{{#image_small}}{{image_small}}{{/image_small}}{{^image_small}}http://www.electrolabindia.com/Images/nodata.jpg{{/image_small}}" alt="" />
        <h2>{{project_name}} </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="{{id}}" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="{{#image_large}}{{image_large}}{{/image_large}}{{^image_large}}http://www.electrolabindia.com/Images/nodata.jpg{{/image_large}}" alt="" />
            <div class="webdet">
            {{#client}}
                <p>Client
                    <span>{{client}}</span>
                </p>
            {{/client}}
            {{#project_name}}    
                <p>Project
                    <span>{{project_name}}</span>
                </p>
            {{/project_name}}
            {{#project_url}}    
                <p>Url
                    <span><a href="#">{{project_url}}</a></span>
                </p>
            {{/project_url}}    
            {{#project_brief_desc}}
                <p>The Brief
                    <span>{{project_brief_desc}}</span>
                </p>
            {{/project_brief_desc}}
            {{#project_full_desc}}
                <p>The Solution
                    <span>{{project_full_desc}}</span>
                </p>
            {{/project_full_desc}}    
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
{{/thumbs}}
{{^thumbs}}
<li>
    <a href="#inline1" target="_blank" class="fancybox-effects-a">

        <img src="" alt="" />
        <h2>No more project availeble for the tag </h2>
        <p></p>
    </a>
    <div id="inline1" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="" alt="" />
            <div class="webdet">
                <p>
                    <span>No Project availeble</span>
                </p>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>

{{/thumbs}}