{{#thumbs}}
<li>
    <a href="#inline1" target="_blank" class="fancybox-effects-a">

        <img src="assets/images/portfolio-sm1.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline1" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
{{/thumbs}}
{{^thumbs}}
<li>
    <a href="#inline1" target="_blank" class="fancybox-effects-a">

        <img src="assets/images/portfolio-sm1.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline1" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline2" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm2.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline2" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline3" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm3.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline3" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline4" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm4.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline4" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline5" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm5.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline5" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline6" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm6.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline6" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline7" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm7.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline7" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline8" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm8.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline8" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
<li>
    <a href="#inline9" target="_blank" class="fancybox-effects-a">
        <img src="assets/images/portfolio-sm9.jpg" alt="" />
        <h2>Maecenas sit amet velit </h2>
        <p>quis sem auctor eleifend. Nulla facilisi. Curabitur vel vehicula quam</p>
    </a>
    <div id="inline9" style="width:100%;display: none;">
        <div class="lightboxpanel">
            <img src="assets/images/light-box-bg1.jpg" alt="" />
            <div class="webdet">
                <p>Client
                    <span>Jeremy Purcell</span>
                </p>

                <p>Project
                    <span>Sandra Purcell</span>
                </p>

                <p>Url
                    <span><a href="#">http://www.sandrapurcell.com/</a></span>
                </p>

                <p>The Brief
                    <span>Praesent pellentesque, massa vel gravida pulvinar, mauris magna scelerisque arcu, nec aliquam mi dolor sed sem.</span>
                </p>

                <p>The Solution
                    <span>Donec suscipit eros vitae tortor fringilla, id eleifend elit malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</li>
{{/thumbs}}